################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/App/SketchArduino/__vm
/App/.vs/App/v16/ipch/AutoPCH/abbfa89a75205def
/App/.vs/App/v16/Browse.VC.opendb
/App/.vs/App/v16/Browse.VC.db-wal
/App/.vs/App/v16/Browse.VC.db-shm
/App/.vs/App/v16/Browse.VC.db
